Package: com.sk8r.nctextcolor
Name: NCTextColor
Depends: mobilesubstrate, org.thebigboss.libcolorpicker
Version: 1.0.1
Architecture: iphoneos-arm
Description: Customize your Notification Center!
Maintainer: sk8r
Author: sk8r
Section: Tweaks
